@font-face {
  font-family: "Aujournuit";
  src:
    url("/fonts/aujournuit/Aujournuit-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aujournuit";
  src:
    url("/fonts/aujournuit/Aujournuit-Condensed.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aujournuit";
  src:
    url("/fonts/aujournuit/Aujournuit-Wide.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aujournuit";
  src:
    url("/fonts/aujournuit/Aujournuit-Airy.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aujournuit Variable";
  src:
    url("/fonts/aujournuit/Aujournuit-VariableVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velvelyne";
  src:
    url("/fonts/velvelyne/Velvelyne-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velvelyne";
  src:
    url("/fonts/velvelyne/Velvelyne-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velvelyne";
  src:
    url("/fonts/velvelyne/Velvelyne-Book.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velvelyne";
  src:
    url("/fonts/velvelyne/Velvelyne-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bagnard";
  src: url("/fonts/Bagnard.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
