// Variables SCSS globales pour Infokiosque

$font-family-base: "Aujournuit", serif;
$color-primary: #13101bb6;
$color-secondary: #2563eb;
$color-background: #f8fafc;
$color-text: #1f2933;


body{
  margin: 0!important;
}